---
layout: default
title: Ryan Schuetzler
---
<div id="home">
    <h1>Posts</h1>
    <ul class="posts">
        {% for post in site.posts limit:10 %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
		<li><a href="posts">More...</a></li>
    </ul>
	<h1>Notes</h1>
	<ul class="posts">
        {% for note in site.notes limit:10 %}
          <li><span>{{ note.date | date_to_string }}</span> &raquo; <a href="{{ note.url }}">{{ note.title }}</a></li>
        {% endfor %}
		<li><a href="posts">More...</a></li>
    </ul>
	<h1>Misc</h1>
	<ul class="posts">
		<li><a href="/files/Schuetzler_Vita.pdf">Vita [PDF]</a></li>
		<li><a href="about">About me</a></li>
		<li><a href="http://mormon.org/me/1N4H/">I'm a Mormon</a></li>
	</ul>
</div>
